.about {
  overflow-x: hidden;
}

.about__about-me {
  padding: 0 3rem;
}

.about__about-me__text {
  align-self: center;
  line-height: 2rem !important;
}

.about__skills {
  width: 100%;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr ;
  /* grid-auto-rows: 1fr; */
  gap: 1.5rem;
}

.about__skills__featured-container {
  display: grid;
  row-gap: 1rem;
}

.about__skills__featured {
  display: grid;
  /* column-gap: 1rem; */
  /* NOTE: Don't use `align-items: center`. This breaks the border for icons */
}

.about__skills__featured__header {
  display: grid;
  grid-template-columns: fit-content(50%) 1fr;
  grid-template-areas:
    "icons title"
    "icons subtitle";
}

.about__skills__featured__header h4 {
  grid-area: title;
}

.about__skills__featured__header__subtitle {
  font-weight: bolder;
  grid-area: subtitle;
  padding-top: 0.25rem;
}

.about__skills__featured__details {
  padding-top: 1rem;
}

.about__skills__featured__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: calc(1rem);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  margin-right: 1rem;
  grid-area: icons;
}

.about__skills__featured__icons__container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
}

.about__skills__featured__icons__container__sub-container {
  display: flex;
  justify-content: center;
}

.about__skills__featured__icons__container * {
  flex: 1 1 auto;
  color: white;
}

.about__skills__featured__icons__container img {
  width: 2.5rem;

}

.about__skills__skillset {
  display: block;
  width: 100%;
  height: 100%;
}

.about__skills__skillset:not(:first-child) {
  /* padding-top: 0.5rem; */
}

.about__skills__skillset__head {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 1rem;
  width: 100%;
  padding-bottom: 1rem;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.3);
  margin-bottom: 1rem;
}

.about__skills__skillset__title {
  display: block;
  margin: 0; padding: 0;
  font-size: var(--h3-size);
}

.about__skills__skillset__tags {
  justify-self: right;
  
  display: flex;
  column-gap: 0.5rem;
  row-gap: 0.25rem;
  flex-wrap: wrap;
  flex: 1;
}

.about__skills__skillset__tags__tag {
  display: block;

  background-color: var(--color-header-h1);
  color: var(--c-palette-black);

  font-weight: normal;
  font-family: var(--font-mono);
  font-size: smaller;

  border-radius: 25px;
  padding: 0.25rem 1rem;
  text-align: center;

  transition:
    background-color 250ms var(--easeOutCubic),
    color 250ms var(--easeOutCubic);
}

.about__skills__skillset__skills-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.about__skills__skillset__skill {
  display: flex;
  flex-direction: column;
}

.about__skills__skillset__skill__details {
  line-height: 2rem;
  flex: 1;
}

.about__skills__skillset__skill__tags {
  border-top: 1px solid var(--c-palette-1);
  margin-top: 1rem;
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: right;
}

.about__skills__skillset__skill__tags * {
  /* flex: 1 1 auto; */
}

.about__skills__skillset__skill__tags .about__skills__skillset__tags__tag {
  background-color: var(--c-palette-1);
}

.about__skills__skillset__dropdown__head .about__skills__skillset__title {
  color: var(--c-palette-1);
}

.about__skills__skillset__dropdown__head--active .about__skills__skillset__title {
  color: var(--color-header-h1);
}

.about__skills__skillset__dropdown__head .about__skills__skillset__tags__tag {
  background-color: var(--c-palette-1);
}

.about__skills__skillset__dropdown__head--active .about__skills__skillset__tags__tag {
  background-color: var(--color-header-h1);
}

.about .__section__container {
  z-index: 1;
}

.about__bg {
  position: fixed;
  inset: 0;
  z-index: -1;

  overflow: hidden;
  /* box-shadow: inset 0px 0px 200px var(--color-bg-main-special); */
}

.about__bg::after {
  position: absolute;
  inset: 0;

  content: "";
}

.about__bg > img {
  height: 1000px;
  transform: translateY(-15%);
  opacity: 0.05;
}

/** 
 *  ##########################################
 *  MOBILE
 *  ##########################################
 */

@media (max-width: 800px) {
  .about__skills__featured {
    justify-content: center;
  }
  .about__skills__featured__header {
    grid-template-columns: 1fr;
    grid-template-areas:
      "icons"
      "title"
      "subtitle";
    
    text-align: center;
  }

  .about__skills__featured__icons {
    max-width: 100%;
    border-right: 0;
    margin-right: 0;
    padding-right: 0;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }

  .about__skills__skillset__head {
    display: block;
  }

  .about__skills__skillset__tags {
    padding-top: 0.5rem;
  }

  .about__skills__skillset__skills-container {
    grid-template-columns: 1fr;
  }
}