.about {
  overflow-x: hidden;
}

.about__about-me {
  padding: 0 3rem;
}

.about__about-me__text {
  align-self: center;
  line-height: 2rem !important;
}

.about__about-me__text p:not(:first-child) {
  margin-top: 1rem;
}

.about__skills {
  width: 100%;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr ;
  /* grid-auto-rows: 1fr; */
  gap: 1.5rem;
}

.about__skills__featured {
  display: flex;
  /* column-gap: 1rem; */
  /* NOTE: Don't use `align-items: center`. This breaks the border for icons */
}

.about__skills__featured-container {
  display: grid;
  row-gap: 1rem;
}

.about__skills__featured__icons {
  display: flex;
  align-items: center;
  padding-right: calc(1rem);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  margin-right: 1rem;
  max-width: 25%;
}

.about__skills__featured__icons__container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
}

.about__skills__featured__icons__container > * {
  flex: 1 1 auto;
}

.about__skills__featured__text {
  flex: 1;

  display: grid;
  align-items: center;
}

.about__skills__skillset {
  display: block;
  width: 100%;
  height: 100%;
}

.about__skills__skillset:not(:first-child) {
  /* padding-top: 0.5rem; */
}

.about__skills__skillset__head {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 1rem;
  width: 100%;
  padding-bottom: 1rem;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.3);
  margin-bottom: 1rem;
}

.about__skills__skillset__title {
  display: block;
  margin: 0; padding: 0;
}

.about__skills__skillset__tags {
  --head-bg-color: var(--color-text-main-alt);
  --head-color: var(--color-bg-highlight-y);

  justify-self: right;
  
  display: flex;
  column-gap: 0.5rem;
  row-gap: 0.25rem;
  flex-wrap: wrap;
  flex: 1;
}

.about__skills__skillset__tags__tag {
  display: block;
  /* color: var(--head-color); */
  /* background-color: var(--head-bg-color); */

  background-color: var(--color-header-h1);
  color: var(--c-palette-black);

  font-weight: normal;
  font-family: var(--font-mono);
  font-size: smaller;

  border-radius: 25px;
  padding: 0.25rem 1rem;
  text-align: center;

  transition:
    background-color 250ms var(--easeOutCubic),
    color 250ms var(--easeOutCubic);
}

.about__skills__skillset__skills-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.about__skills__skillset__skill {
  display: flex;
  flex-direction: column;
}

.about__skills__skillset__skill__details {
  line-height: 2rem;
  flex: 1;
}

.about__skills__skillset__skill__tags {
  border-top: 1px solid var(--c-palette-1);
  margin-top: 1rem;
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: right;
}

.about__skills__skillset__skill__tags * {
  /* flex: 1 1 auto; */
}

.about__skills__skillset__skill__tags .about__skills__skillset__tags__tag {
  background-color: var(--c-palette-1);
}

.about__skills__skillset__dropdown__head h3 {
  color: var(--c-palette-1);
}

.about__skills__skillset__dropdown__head--active h3 {
  color: var(--color-header-h1);
}

.about__skills__skillset__dropdown__head .about__skills__skillset__tags__tag {
  background-color: var(--c-palette-1);
}

.about__skills__skillset__dropdown__head--active .about__skills__skillset__tags__tag {
  background-color: var(--color-header-h1);
}

.about .__section__container {
  z-index: 1;
}

.about__bg {
  position: fixed;
  inset: 0;
  z-index: -1;

  overflow: hidden;
  /* box-shadow: inset 0px 0px 200px var(--color-bg-main-special); */
}

.about__bg::after {
  position: absolute;
  inset: 0;

  content: "";
}

.about__bg > img {
  height: 1000px;
  transform: translateY(-15%);
  opacity: 0.05;
}