.academics {

}

.academics__university {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 2rem;
}

.academics__university > img {
  object-fit: contain;
  --logo-img-size: 150px;
  width: var(--logo-img-size);
  height: var(--logo-img-size);
}

.academics__university__details {

}

.academics__university__details__title {
  width: 100%;
}

.academics__university__details__subtitle {
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 0.5rem;
  width: 100%;
  align-items: center;
}

.academics__university__details__subtitle__degree {
  font-weight: bold;
}

.academics__university__details__subtitle__date {
  font-style: italic;
}

.academics__university__details__body {
  padding-top: 1rem;
}

.academics__thesis {

}

.academics__thesis__title {

}

.academics__thesis__details {
  padding: 1rem;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 1rem;
  row-gap: 0.5rem;
}

.academics__thesis__details > dt {
  font-weight: bold;
}

/** 
 *  ##########################################
 *  MOBILE
 *  ##########################################
 */

@media (max-width: 800px) {
  .academics__university {
    justify-items: center;
    text-align: center;
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }

  .academics__university__details {
    width: 100%;
  }

  .academics__university__details__subtitle {
    padding-top: 0.25rem;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    row-gap: 0.25rem;
  }

  .academics__university__details__subtitle__date {
    text-align: center;
  }

  .academics__university__details__subtitle hr {
    display: none;
  }

  .academics__university__details__body {
    display: flex;
    justify-content: center;
    text-align: left;
    padding-top: 1rem;
  }

  .academics__thesis {
    text-align: center;
  }

  .academics__thesis__details {
    grid-template-columns: 1fr;
  }

  .academics__thesis__details > dt:not(:first-of-type) {
    padding-top: 1rem;
  }
}