.credentials {

}

.credentials__contents {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  align-items: start;
  row-gap: 1rem;
  column-gap: 1rem;
}

.credentials__credential {
  height: 100%;
  margin: 0;
}

.credentials__credential__details {
  display: grid;
  width: 100%;
  height: 100%;
  column-gap: 1rem;
  grid-template-columns: auto auto 1fr auto auto;
  grid-template-rows: 1fr auto auto;
  grid-template-areas: 
    "title title title title title"
    "subtitle subtitle subtitle subtitle subtitle"
    "date line line line link";
  padding-bottom: 0.5rem;
  /* align-items: center; */
  align-items: start;
}

.credentials__credential__details__title {
  display: block;
  grid-area: title;
}

.credentials__credential__details hr {
  grid-area: line;
  align-self: center;
}

.credentials__credential__details__org {
  display: block;
  grid-area: subtitle;
  font-weight: bold;
}

.credentials__credential__details__date {
  display: block;
  grid-area: date;
  font-style: italic;
  text-align: right;
}

.credentials__credential__details__link {
  display: block;
  grid-area: link;
  text-align: right;
}

.credentials__credential__description {

}