.experiences {

}

.experiences__contents {
  display: grid;
  row-gap: 1rem;
}

.experiences__experience {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: 
    "logo details"
    "logo description";
  column-gap: 2rem;
}

.experiences__experience__logo {
  grid-area: logo;
  width: 120px;
  align-self: center;
}

.experiences__experience__details {
  grid-area: details;
  display: grid;
  /* grid-template-columns: auto auto; */
  column-gap: 1rem;
  /* grid-template-columns: auto; */
  row-gap: 0.25rem;

  grid-template-areas: 
    "company location"
    "work time";

  margin-bottom: 0.5rem;
  align-items: center;
  color: var(--c-palette-white);
}

.experiences__experience__details__company {
  grid-area: company;
}
.experiences__experience__details__location {
  grid-area: location;
  font-style: italic;
  text-align: right;
  align-self: end;
  /* font-weight: bold; */
}
.experiences__experience__details__work {
  grid-area: work;
  font-variant: small-caps;
  /* font-weight: bold; */
  font-size: var(--font-size-big);
}
.experiences__experience__details__year {
  grid-area: time;
  font-style: italic;
  text-align: right;
  /* font-weight: bold; */
}
.experiences__experience__details__description {
  grid-area: description;
  width: 100%;
  padding-left: 2rem;
  line-height: 2rem;
}

/** 
 *  ##########################################
 *  MOBILE
 *  ##########################################
 */

@media (max-width: 800px) {
  .experiences__experience {
    grid-template-columns: 1fr;
    grid-template-areas: 
      "logo" 
      "details"
      "description";
    row-gap: 1rem;
  }

  .experiences__experience__logo {
    justify-self: center;
  }

  .experiences__experience__details {
    grid-template-columns: 1fr;
    row-gap: 0.25rem;

    grid-template-areas: "company" "work" "location" "time";
  }

  .experiences__experience__details * {
    text-align: center;
  }

  .experiences__experience__details__description {
    border-top: 1px solid var(--c-palette-1);
    /* margin-top: 0.5rem; */
    padding-top: 1rem;
  }
}